<!--Header-->
<nav class="navbar">
	<div class="container">
		<div class="navbar-header">
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		</div>
	</div>
</nav>
<!--Content -->
<section id = "main">
	<div id = "container">
		<header class = "header">
			<h1>
			</h1>
			<p> 
			</p>
		</header>
	</div>
</section>
<!--Region 4-->
<section id="region4">
	<div class="container">
		<div class="row">
      <div class="col-sm-6 col-md-6 col-xs-6">
			  <article>
			    <div class="image fit">
						<img src="" alt="" />
					</div>
					<header>
						<h3>
            </h3>
					</header>
					<p>
          </p>
					<footer>
					  <a href="#" class="button">More</a>
					</footer>
		    </article>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-6">
			  <article>
			    <div class="image fit">
						<img src="" alt="" />
					</div>
					<header>
						<h3>
          	</h3>
					</header>
					<p>
          </p>
					<footer>
					  <a href="#" class="button">More</a>
					</footer>
		    </article>
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="copyright">
				&copy; Untitled. Design:Images.
			</div>
			<ul class="icons">
			  <li>
					<a href="#" class="icon fa-facebook"></a>
				</li>
			  <li>
					<a href="#" class="icon fa-twitter"></a>
				</li>
			  <li>
					<a href="#" class="icon fa-linkedin"></a>
				</li>
			</ul>
		</div>
  </div>
</footer>
