<!--Header-->
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    </div>
  </div>
</nav>
<!--Banner-->
<section id= "Banner">
  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-xs-12">
      <h2>
      </h2>
      <p>
      </p>
    </div>
  <div>
</section>
<!--Content-->
<!--Region 1-->
<section id = "region1">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-4 col-md-4 col-xs-4">
        <header class="major">
          <h2>
          </h2>
          <p>
          </p>
        </header>
        <ul class = "actions" >
          <li>
            <a href = "#" class = "button alt" >Read More</a>
          </li>
        </ul>
      </div>
      <div class = "col-sm-4 col-md-4 col-xs-4">
        <header class="major">
          <h2>
          </h2>
          <p>
          </p>
        </header>
        <ul class = "actions" >
          <li>
            <a href = "#" class = "button alt" >Read More</a>
          </li>
        </ul>
      </div>
      <div class = "col-sm-4 col-md-4 col-xs-4">
        <header class="major">
          <h2>
          </h2>
          <p>
          </p>
        </header>
        <ul class = "actions" >
          <li>
            <a href = "#" class = "button alt" >Read More</a>
          </li>
        </ul>
      </div>
    </div>    
  </div>
</section>
<!--Region 2-->
<section id="region2">
    <div class = "container">
		<header>
			<h2>
      </h2>
			<p>
      </p>
		</header>
		<div class="row">
			<div class="col-sm-3 col-md-3 col-xs-3">
    		<div class="image round">
					<img src="" alt="" />
				</div>
			  <h3>
        </h3>
				<p>
        </p>
			</div>
      <div class="col-sm-3 col-md-3 col-xs-3">
    		<div class="image round">
					<img src="" alt="" />
				</div>
			  <h3>
        </h3>
				<p>
      	</p>
			</div>
      <div class="col-sm-3 col-md-3 col-xs-3">
    		<div class="image round">
					<img src="" alt="" />
				</div>
			  <h3>
        </h3>
				<p>
        </p>
			</div>
      <div class="col-sm-3 col-md-3 col-xs-3">
    		<div class="image round">
					<img src="" alt="" />
				</div>
			  <h3>
        </h3>
				<p>
        </p>
			</div>
    </div>
  </div>
</section>       
<!--Region 3-->
<section id="region3">
	<div class="container">
	  <header>
			<h2>
      </h2>
			<p>
      </p>
		</header>
		<div class="row">
      <div class="col-sm-6 col-md-6 col-xs-6">
			  <article>
			    <div class="image fit">
						<img src="" alt="" />
					</div>
					<header>
						<h3>
            </h3>
					</header>
					<p>
          </p>
					<footer>
					  <a href="#" class="button">More</a>
					</footer>
		    </article>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-6">
			  <article>
			    <div class="image fit">
						<img src="" alt="" />
					</div>
					<header>
						<h3>
          	</h3>
					</header>
					<p>
          </p>
					<footer>
					  <a href="#" class="button">More</a>
					</footer>
		    </article>
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="copyright">
				&copy; Untitled. Design:Images.
			</div>
			<ul class="icons">
			  <li>
					<a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
				</li>
			  <li>
					<a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
				</li>
			  <li>
					<a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a>
				</li>
			</ul>
		</div>
  </div>
</footer>